* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', 'Noto Sans TC', sans-serif;

}

.app {
  background: #fafafa;
}

/* font-family: 'Dancing Script', cursive;
font-family: 'Noto Sans TC', sans-serif; */
